.keyboard {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  /* grid-template-rows: auto; */
  grid-template-areas: 
    "Q W E R T Y U I O P"
    "A S D F G H J K L 🠴"
    "Z X C V B N M ↩ ↩ ↩";
}

[label~=Q] { grid-area: Q; }
[label~=W] { grid-area: W; }
[label~=E] { grid-area: E; }
[label~=R] { grid-area: R; }
[label~=T] { grid-area: T; }
[label~=Y] { grid-area: Y; }
[label~=U] { grid-area: U; }
[label~=I] { grid-area: I; }
[label~=O] { grid-area: O; }
[label~=P] { grid-area: P; }
[label~=A] { grid-area: A; }
[label~=S] { grid-area: S; }
[label~=D] { grid-area: D; }
[label~=F] { grid-area: F; }
[label~=G] { grid-area: G; }
[label~=H] { grid-area: H; }
[label~=J] { grid-area: J; }
[label~=K] { grid-area: K; }
[label~=L] { grid-area: L; }
[label~=J] { grid-area: J; }
[label~=Z] { grid-area: Z; }
[label~=X] { grid-area: X; }
[label~=C] { grid-area: C; }
[label~=V] { grid-area: V; }
[label~=B] { grid-area: B; }
[label~=N] { grid-area: N; }
[label~=M] { grid-area: M; }
[label~=↩] { grid-area: ↩; }
[label~=🠴] { grid-area: 🠴; }